*{
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
  *:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
/* start page */
.page{
    min-height: 200vh;
}
.page .carding{
    display: flex;
    padding: 15px;
    background-color: #e10916;
    color: white;
    width: 100%;
}
.page .carding{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page .carding .info a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}
.page .carding .info-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page .carding .info-1 a{
    color: white;
}
.page .carding .info-1 .i-0{
   margin-right: 20px;
   font-size: 20px;
   padding: 8px 8px;
   border-radius: 5px;
}
.page .carding .info-2 a{
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
}
@media(max-width:767px){
    .page .carding{
        display: none;
    }
}
/* end page */
.dash{
    background-color: #1d1d1b;
}
.dash .logo{
    width: 100px;
    height: 70px;
    border-radius: 12px;
    background: none;
    border: 1px solid black;
    margin-left: 40px;
}
@media(max-width:767px){
    .dash{
        background-color: #1d1d1b;
    }
    .dash .logo{
        width: 100px;
        height: 60px;
        margin-left: 0px;
    }
}
.dash .navbar-toggler{
    color: white;
    font-size: 25px;
    border: 2px solid white;
}
.dash ul li a{
    color: #fbf7f5;
    font-size: 18px;
    margin-right: 7px;
    font-weight: bold;
}
.dash ul li a:hover{
    color: black;
}
.dash .text{
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 17px;
}
.dash .text .top{
    margin-top: -5px;
}
.dash .icon a{
    font-size: 25px;
    margin-right: 10px;
}
.dash .icon .i-1{
    color: #4267B2;
}
.dash .icon .i-2{
    color: #E1306C;
}
.dash .icon .i-3{
    color: #0e76a8;
}
.dash .icon .i-4{
    color: green;
}
/* end dash */

/* start section-0 */
.sabing{
    position: relative;
}
.section-0{
    background-color: black;
}
.section-0 img{
    width: 100%;
    height: 600px;
    position: relative;
    opacity: 0.3;
}
.sabing .text-2{
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    
    text-align: center;
}
.sabing .text-2 h1{
    font-size: 5em;
    font-weight: bold;
}
@media(max-width:767px){
    .sabing .text-2 h1{
        font-size: 20px;
        margin-top: 30px;    
    }
    .section-0 img{
        height: auto;
    }
}
/* end section-0 */

/* start space */
.space{
    margin: 50px auto;
    width: 900px;
}
.space h3{
    text-align: center;
    margin-bottom: 25px;
}
@media(max-width:767px){
    .space{
        width: auto;
        padding: 10px 20px;
    }
}
/* end space */

.our{
    background-image: url(../image/back-products.jpg);
    height: 300px;
    text-align: center;
}
@media(max-width:767px){
    .our{
        height: 100%;
    }
    .our .card-6{
        margin-bottom: 20px;
    }
}
.our h3{
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fbf7f5;
}
.our .card-6 a{
    color: white;
    background-color: #0e76a8;
    padding: 60px;
    border-radius: 10px;
    font-weight: bolder;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
